{% extends "skidom_base.html" %}

{% block content %}

<div class ="supres">
<h2>Make new account</h2>

{% if messages %}
  {% for message in messages %}
      <li> {{ message }} </li>
  {% endfor %}
{% endif %} 

<p>By making a new account, you can save your preferences and have faster
access to our recommended resorts! It'll get you on the snow faster! </p>

<form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  <button type="submit">Make new account</button>
</form>

</div>

{% endblock %}
