{% extends "skidom_base.html" %}
{% load static %}

{% block content %}
<div class ="supres">
    <table>
        <thead>
                <tr class = "d0">
                    <th>Name</th>
                    <th>State</th>
                    <th>Website</th>
                    <th>Distance</th>
                    <th>Driving Time</th>
                </tr>
        </thead>
        <tbody>
        {% for resort in resorts_list %}
            <tr>
                <td class="name">{{ resort.name }}</td>
                <td class="general"> {{ resort.state }} </td>
                <td class="general"><a href="{{ resort.website }}">Here</a></td>
                <td class="onehun">{{ resort.distance  }}</td>
                <td class="general">{{ resort.text_time }}</td>
            </tr>    
        {% endfor %}
        </tbody>
   </table>
</div>

{% endblock %}
