{% extends "skidom_base.html" %}
{% load static %}

{% block content %}

<div class="getinfo">
    <div class="shared">
        <h2>Let's start planning an epic trip!</h2>
        <form action="{% url 'resorthub:index' %}" method="post"> 
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="See resorts"/>
        </form>
    </div>

    <div class="shared"> 
        <img src="{% static 'resorthub/images/0_index_pic.png' %}"> 
    </div>
</div> 

<br><br>

<div class="supres">
    {% if resorts_list %}
        <p><h2> {{ header_message }} </h2></p>   
        <table>
            <theader>
                <tr>
                    <th>Resort</th>
                    <th>State</th>
                    <th>Base temp</th>
                    <th>Trails open</th>
                    <th>Amount of snow</th>
                </tr>
            </theader>

            {% for resort in resorts_list %}
                <tr>
                    <td class="name"><a href="{{ resort.web_home }}">{{ resort.name  }}</a></td>
                    <td class="twohun">{{  resort.state }}</td>
                    <td class="general">{{ resort.base_temp }}</td>
                    <td class="general">{{ resort.num_trails_open  }}</td>
                    <td class="general">{{ resort.snow_in_past_24h }}</td> 
            {% endfor %}
        </table>            

    {% else %}
        <p>No resorts matching your criteria are available. Please try again!</p>

    {% endif %}
</div>

{% endblock %}
