{% extends "skidom_base.html" %}
{% load static %}
{% load resort_filters %}
{% load widget_tweaks %}

{% block content %}
<div class ="supres">
    <table>
        <thead>
                <tr class = "d0">
                    <th>Name</th>
                    <th>State</th>
                    <th>Website</th>
                    <th>Distance</th>
                    <th>Driving Time</th>
                </tr>
        </thead>
        <tbody>
        {% for resort in resorts %}
            <tr>
                <td class="name">{{ resort.name }}</td>
                <td class="general"> {{ resort.address.locality.state.name }} </td>
                <td class="general"><a href="{{ resort.web_home }}">Here</a></td>
                <td class="onehun">{{ distances|use_index:forloop.counter0  }}</td>
                <td class="general">{{ times|use_index:forloop.counter0 }}</td>
            </tr>    
        {% endfor %}
        </tbody>
   </table>
</div>

{% endblock %}
