{% load resort_filters %}

<form action="{% url 'resorthub:index' %}" method="post"> 
{% csrf_token %}
    {{ form }}
<input type="submit" value="Update"/>
</form>

{% if input_flag %}
   <p> You will start at address {{ address }} and ski on {{ date }}.</p>
{% else %}
   <p> Please put in your starting address and what day you want to ski. </p>

{% endif %}

{% if supported_resorts %}
    <p> We currently support the following resorts: </p>
    
    <table>
      <tr>
        <th>Resort</th>
        <th>Address</th>
        <th>Distance</th>
        <th>Current snow (in)</th>
      </tr>
      {% for resort in supported_resorts %}
        <tr>
            <td class="name">{{ resort.resort_name  }}</td>
            <td class="address">{{ resort.resort_address }}</td>
 
            {% if distances %}
                <td class="dist">{{ distances|use_index:forloop.counter0  }}</td>
            {% else %}         
                <td class="dist">N/A</td>
            {% endif %}

            <td class="snow">N/A</td>
        </tr>
      {% endfor %}
    </table>            

    <p> And more are on the way! </p> 
{% else %}
    <p>We currently don't support any resorts. Sadness!</p>

{% endif %}

