{% extends "skidom_base.html" %}
{% load resort_filters %}
{% load static %}
{% load widget_tweaks %}


{% block content %}


{% if user.is_authenticated %}
<p> Hi, {{ user.get_username }}! Welcome to Skidom! </p>
{% endif %}

<div class="getinfo">
    <form action="{% url 'resorthub:index' %}" method="post"> 
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Let's go skiing!!!"/>
    </form>

    {% if invalid_address %}
        <p> Please enter a valid address! </p>
    {% endif %}

    {% if no_match %}
        <p> No resorts match your criteria. Please try a different search! </p>
    {% endif %}

    {% if address %}
        <p> You will start at address <span class="userinfo">{{ address }} </span> and ski on <span class="userinfo"> {{ date }} </span>.</p>
    {% else %}
        <p> Please put in a starting address and what day you want to ski. </p>
    {% endif %}
</div>

<div class="supres">
    {% if supported_resorts %}
        <p> We currently support the following resorts: </p>
    
        <table>
            <tr class="d0">
                <td>Resort</td>
                <td>Address</td>
                <td>Distance (mi)</td>
                <td>Travel time</td>
                <td>Base temp</td>
                <td>Trails open</td>
            </tr>

            {% for resort in supported_resorts %}
                <tr>
                    <td class="name">{{ resort.name  }}</td>
                    <td class="address">{{ resort.address }}</td>
 
                {% if distances %}
                    <td class="dist">{{ distances|use_index:forloop.counter0  }}</td>
                    <td class="general">{{ times|use_index:forloop.counter0 }}</td>
                    <td class="general">{{ temps|use_index:forloop.counter0 }}</td>
                {% else %}         
                    <td class="dist">N/A</td>
                    <td class="general">N/A</td>
                {% endif %}
                    <td class="general">{{resort.trail}}</td>
                    <td class="general">N/A</td>
                </tr>
            {% endfor %}
        </table>            

        <p> And more are on the way soon! </p> 


    {% else %}
        <p>We currently don't support any resorts. Sadness!</p>

    {% endif %}
</div>

{% endblock %}
