{% extends "skidom_base.html" %}
{% load resort_filters %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="getinfo">
    <div class="shared">
        <h2>Let's start planning an epic trip!</h2>
        <form action="{% url 'resorthub:index' %}" method="post"> 
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="See resorts"/>
        </form>

        {% if invalid_address %}
            <p> Please enter a valid address! </p>
        {% endif %}

        {% if no_match %}
            <p> No resorts match your criteria. Please try a different search! </p>
        {% endif %}
    </div>
    <div class="shared"> 
        <img src="{% static 'resorthub/images/0_index_pic.png' %}"> 
    </div>
</div> 

<br><br>
<div class="supres">
    {% if supported_resorts %}
       <p> <h2> {{ header_message }} </h2> </p>   
 
        <table>
            <theader>
                <tr>
                    <th>Resort</th>
                    <th>State</th>
                    <th>Base temp</th>
                    <th>Trails open</th>
                    <th>Amount of snow</th>
                </tr>
            </theader>

            {% for resort in supported_resorts %}
                <tr>
                    <td class="name"><a href="{{ resort.web_home }}">{{ resort.name  }}</a></td>
                    <td class="twohun">{{  resort.address.locality.state.name }}</td>
                    <td class="general">{{ base_temps|use_index:forloop.counter0 }}</td>
                    <td class="general">{{ trails_open|use_index:forloop.counter0    }}</td>
                    <td class="general">{{ new_snow|use_index:forloop.counter0 }}</td> 
            {% endfor %}
        </table>            



    {% else %}
        <p>We currently don't support any resorts. Sadness!</p>

    {% endif %}
</div>

{% endblock %}
