{% extends "skidom_base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'resorthub/resort_table.js'  %}"></script>

<div class ="compareresorts">
    <form action="{% url 'resorthub:resorts' %}" method="post">
        {% csrf_token %} 
        <table>
        <theader>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>About</th>
                <th>Select</th>
            </tr>
        <theader>
        {% for resort in resorts %}
            <tr>
                <td class="name"><a href="{{ resort.web_home }}">{{ resort.name }}</a></td>
                <td class="general"> {{ resort.address.locality.state.name }} </td>
                <td class="threehun"><a href="#" onclick='overlay("{{ resort.our_take }}")'>Our take: {{ resort.name }}</a></td>
                <td class="general"><input type="checkbox" name="choices[]" id="{{resort.id}}" value={{resort.id}}></td>
            </tr>    
        {% endfor %}
   </table>
    <br>
        <button type="submit" name="compare">Compare selected resorts</button>
        <button type="submit" name="favorite">Add selected resorts to favorites</button>
    </form> 
</div>

<div id="overlay">
    <div>
        <p id="resort_description"></p>
        <p class="exit_link"><a href="#" onclick='overlay("")'>Close</a></p>
    </div>
</div>
{% endblock %}
