{% extends "skidom_base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'resorthub/resort_table.js'  %}"></script>


<div class ="supres">
    <form action="{% url 'resorthub:resorts' %}" method="post">
        {% csrf_token %} 
        <table>
        <tr class = "d0">
            <td>Name</td>
            <td>State</td>
            <td>Website</td>
            <td>Traits</td>
            <td>About</td>
            <td>Select</td>
        </tr>
        {% for resort in resorts %}
            <tr>
                <td class="name">{{ resort.name }}</td>
                <td class="general"> {{ resort.address.locality.state.name }} </td>
                <td class="general"><a href="{{ resort.web_home }}">Here</a></td>
                <td class="general">N/A</td>
                <td class="general"><a href="#" onclick='overlay("{{ resort.our_take }}")'>Our take: {{ resort.name }}</a></td>
                <td class="compare"><input type="checkbox" name="choices[]" id="{{resort.id}}" value={{resort}}></td>
            </tr>    
        {% endfor %}
   </table>
       <button type="submit" name="compare">Compare selected resorts</button>
        <button type="submit" name="favorite">Add selected resorts to favorites</button>
    </form> 
</div>

<div id="overlay">
    <div>
        <p id="resort_description"></p>
        <p class="exit_link"><a href="#" onclick='overlay("")'>Close</a></p>
    </div>
</div>
{% endblock %}
